.header {
    font-size: 30px; 
    font-weight: 500; 
    margin-top:30px;
}
.text-xl {
    font-size: 1.25rem; /* 20px */
    line-height: 1.75rem; /* 28px */
}
 .mt20 {
    margin-top: 20px;
 }

 .mt-30 {
    margin-top:-30px;
 }
.pagecontainer {
    padding-left: 50px;
    padding-right: 50px; 
}

.formcontainer {
    width: 300px;
}