{% extends 'layouts/layouts.html' %}
{% block content %}
<div class="pagecontainer">
  <div class="formcontainer">
    <h3 class="display-1 header">Update an Album:</h3>
    <form id="update_album" action="/update_albums/{{album['album_ID']}}" method="POST">
      <!-- character_id {{ character_id }} -->
      <input type="hidden" name="album_ID" value = "{{ album['album_ID'] }}">
      <div class="form-group">
        <label for="album_name"> Album name:</label>
        <input class="form-control" type="text" name="album_name" value = "{{ album['album_name'] }}"><br>
      </div>
      <div class="form-group mt-30">
        <label for="album_genre"> Album genre:</label>
        <input class="form-control" type="text" name="album_genre" value = "{{ album['album_genre'] }}" ><br>
      </div>
      <div class="form-group mt-30">
        <label for="artist_ID"> Artist:</label>
        <select class="form-control" name="artist_ID">
      <!-- display all planets inside this dropdown -->
            {% for artist in artists %}
              {{ artist['artist_ID'] }}
              {{ album['album_ID'] }}
              {% if artist['artist_ID'] == album['album_ID'] %}
                <option selected value="{{ artist['artist_ID'] }}">{{ artist['artist_fname'] }} {{artist['artist_lname'] }}</option>
              {% else %}
                <option value="{{ artist['artist_ID'] }}">{{ artist['artist_fname'] }} {{artist['artist_lname'] }}</option>
              {% endif %}
            {% endfor %}
        </select><br>
      </div>
      <input type="submit" class="btn btn-light" value="Submit">
    </form>
    <br/>
  </div>
</div>
{% endblock %}