{% extends 'layouts/layouts.html' %}

<html>
{% block content %}
{% for eachfoo in foo %}
{{eachfoo}}
{% endfor %}


<div class="pagecontainer">
    <p>
        When you navigate to Artists, you have the opportunity to query the 
        Artists database for the most current data and perform INSERT, UPDATE,
        DELETE, and SEARCH operations. 

        Artists shares a one to many relationship with both Albums and Songs. Artists does not inherit foriegn keys.  
    </p>
    <div class="formcontainer">
        <h3 class="display-1 header">Add New Artists:</h3>
        <form id="addartist" action="{{ url_for('artists_functionality') }}" method="POST">
            <div class="form-group">
                <label for="artist_fname"> First name:</label>
                <input class="form-control"type="text" name="artist_fname"><br>
            </div>
            <div class="form-group mt-30">
                <label for="artist_lname"> Last name:</label>
                <input type="text" class="form-control" name="artist_lname"><br>
            </div>
            <input type="submit" class="btn btn-light" name="Submit" value="Add">
            <!--
            <input type="submit" name="Update" value="Update">
            -->
        </form>
        <br/>

        <h3  class="display-1 header">Search for Artists:</h3>
        <form id="searchartist" action="{{ url_for('artists_functionality') }}" method="POST">
            <div class="form-group">
                <label for="artist_fname"> First name:</label>
                <input class="form-control"type="text" name="artist_fname"><br>
            </div>
            <div class="form-group mt-30">
                <label for="artist_lname"> Last name:</label>
                <input type="text" class="form-control" name="artist_lname"><br>
            </div>
            <input type="submit" class="btn btn-light" name="Search" value="Search">
            <!--
            <input type="submit" name="Update" value="Update">
            -->
        </form>
        <h3  class="display-1 header">Return from search</h3>
        <form id="searchartist" action="{{ url_for('artists_functionality') }}" method="POST">
            <input type="submit" class="btn btn-light mt20" name="Return" value="Return">
            <!--
            <input type="submit" name="Update" value="Update">
            -->
        </form>
        <br/>
    </div>

    <p>{{ insert_result }}</p>




    <!-- Current people -->
    <h3 class="display-1 header">Current artists</h3>
    <table class="table" style="margin-bottom: 100px;">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
        <tbody>
        {% for r in rows %}
        <tr>
            <th scope="row"> {{ r['artist_ID'] }}</th>
            <td> {{ r['artist_fname'] }}</td>
            <td> {{ r['artist_lname'] }}</td>
            <td> <input type='button' class="btn btn-light" name='Update' value='Update' onclick="window.location = '/update_artists/{{r['artist_ID']}}'"> </td>
            <td> <input type='button' class="btn btn-light" name='Delete' value='Delete' onclick="window.location = '/delete_artists/{{r['artist_ID']}}'"> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<!--
    elif "Update" in request.form:
        print('The POST request')
        id = request.form['id']
        fname = request.form['fname']
        lname = request.form['lname']
        age = request.form['age']
        homeworld = request.form['homeworld']

        updatequery = "UPDATE bsg_people SET fname = %s, lname = %s, age = %s, homeworld = %s WHERE id = %s"
        updatedata = (fname, lname, age, homeworld, id)
        
        print(str(result.rowcount) + " row(s) updated")

        # check for null/empty data
        index = 0
        for data in insertdata:
            if data == '': insertdata[index] = None
            index += 1
        try:
            result = execute_query(db_connection, updatequery, updatedata)


        except Exception as e:
            error = f"Error: {e.args[1]}" 
            return  render_template('people.html', rows=result, planets=planetresult, data=error)


                # print out a message to let the user know a cashier was added
        updateresult = f