<form id='filter_people' action='' method=''>
    <!--- this form does not submit directly, the button handles all the interaction with backend -->
        <label> Filter by homeworld </label>
        <select id='homeworld_filter' name="homeworld"> 
            {% for p in planets %}
            <option value="{{p['id']}}">{{p['name']}}</option>
            {% endfor %}
        </select><br>
        <input type="button" value="Filter" onclick="filterPeopleByHomeworld()">
    </form>
    
    <form id='search_people' action='' method=''>
    <!--- this form does not submit directly, the button handles all the interaction with backend -->
        <label> Search people for first name starting with:</label>
        <input id='first_name_search_string' type='text' name='first_name_search_string' value=''>
        <input type="button" value="Search" onclick="searchPeopleByFirstName()">
    </form>