
<head>
<h1>Welcome to BSG People and Planets</h1>
<h3>Forked from @wolfordj, modified by @domotheawsome</h3>
</head>

<body>
    <div>
        <nav>
            <ul>
                <li>
                    <label for="Artists"></label>
                    <a href="/artists" id="artists">Artists Page</a>
                </li>
                <li>
                    <label for="Albums"></label>
                    <a href="/albums" id="albums">Albums Page</a>
                </li>
                <li>
                    <label for="Songs"></label>
                    <a href="/songs" id="songs">Songs Page</a>
                </li>
                <li>
                    <label for="Users"></label>
                    <a href="/users" id="users">Users Page</a>
                </li>
                <li>
                    <label for="Playlists"></label>
                    <a href="/playlists" id="playlists">Playlists Page</a>
                </li>
                <li>
                    <label for="Test"></label>
                    <a href="/db_test" id="db_test">Test the database (CS340_meshorea)</a>
                </li>
                <li>
                    <label for="Hello"></label>
                    <a href="/hello" id="hello">Say hello!</a>
                </li>
            </ul>
        </nav>
    </div>
</body>