
<head>
<h1>Welcome to BSG People and Planets</h1>
<h3>Forked from @wolfordj, modified by @domotheawsome</h3>
</head>

<body>
    <div>
        <nav>
            <ul>
                <li>
                    <label for="Browse"></label>
                    <a href="/browse_bsg_people" id="browse_bsg_people">Browse people</a>
                </li>
                <li>
                    <label for="Add"></label>
                    <a href="/add_new_people" id="add_new_people">Add people</a>
                </li>
                <li>
                    <label for="Test"></label>
                    <a href="/db_test" id="db_test">Test the database</a>
                </li>
                <li>
                    <label for="Hello"></label>
                    <a href="/hello" id="hello">Say hello!</a>
                </li>
            </ul>
        </nav>
    </div>
</body>