{% extends 'layouts/layouts.html' %}




<head>
<h1>Welcome to Bopify</h1>
<h3>Forked from @wolfordj, modified by @domotheawsome</h3>
</head>

<body>
    {% block content %}
    <div class="pagecontainer">
        <h1 class="display-1 title mt20"> Bopify.</h1>
        </br>
        <p class="mt20">Bopify stores about 80 million songs and 400 million user profiles, this database allows users to upload music, create playlists, and search for music.
        </p>
    </br>
        <p>Many people find it convenient to have one place to find all of their favorite music. Our database driven website, Bopify, will allow users to search for music and create playlists. We are inspired to create this app based on Spotify, which currently stores about 80 million songs and 400 million user profiles. Specifically, the database driven website will record song information (artist name, song name, album name, genre) and user information (username, email, playlists). 
        </p>
    </div>
    <!--
    <div>
        <nav>
            <ul>
                <li>
                    <label for="Artists"></label>
                    <a href="/artists" id="artists">Artists Page</a>
                </li>
                <li>
                    <label for="Albums"></label>
                    <a href="/albums" id="albums">Albums Page</a>
                </li>
                <li>
                    <label for="Songs"></label>
                    <a href="/songs" id="songs">Songs Page</a>
                </li>
                <li>
                    <label for="Users"></label>
                    <a href="/users" id="users">Users Page</a>
                </li>
                <li>
                    <label for="Playlists"></label>
                    <a href="/playlists" id="playlists">Playlists Page</a>
                </li>
                <li>
                    <label for="PlaylistsSongs"></label>
                    <a href="/PlaylistsSongs" id="PlaylistsSongs">PlaylistsSongs Page</a>
                </li>
                <li>
                    <label for="Test"></label>
                    <a href="/db_test" id="db_test">Test the database (CS340_meshorea)</a>
                </li>
                <li>
                    <label for="Hello"></label>
                    <a href="/hello" id="hello">Say hello!</a>
                </li>
            </ul>
        </nav>
    </div>
    -->
    {% endblock %}
</body>