<h3>Update a person:</h3>
<form id="update_person" action="/update_people/{{person['id']}}" method="POST">
  <!-- character_id {{ character_id }} -->
  <input type="hidden" name="id" value = "{{ person['id'] }}">
  First name: <input type="text" name="fname" value = "{{ person['fname'] }}"><br>
  Last name: <input type="text" name="lname" value = "{{ person['lname'] }}" ><br>
  Homeworld: <select name="homeworld">
	<!-- display all planets inside this dropdown -->
        {% for planet in planets %}
          {{ planet['id'] }}
          {{ person['homeworld'] }}
          {% if planet['id'] == person['homeworld'] %}
             <option selected value="{{ planet['id'] }}">{{ planet['name'] }}</option>
          {% else %}
            <option value="{{ planet['id'] }}">{{ planet['name'] }}</option>
          {% endif %}
        {% endfor %}
    </select><br>
    Age: <input type="number" name="age" value = "{{ person['age'] }}"><br>
    <input type="submit" value="Submit">
 </form>
<br/>