{% extends 'layouts/layouts.html' %}
{% block content %}
<div class="pagecontainer">
  <div class="formcontainer">
    <h3 class="display-1 header">Update an Playlist:</h3>
    <form id="update_playlist" action="/update_playlists/{{playlist['playlist_ID']}}" method="POST">
      <!-- character_id {{ character_id }} -->
      <input type="hidden" name="playlist_ID" value = "{{ playlist['playlist_ID'] }}">
      <div class="form-group">
        <label for="playlist_name"> Playlist name:</label>
        <input type="text" class="form-control" name="playlist_name" value = "{{ playlist['playlist_name'] }}"><br>
      </div>
      <div class="form-group mt-30"> 
        <label for="user_ID"> Username:</label>
        <select class="form-control" name="user_ID">
      <!-- display all Playlists inside this dropdown -->
            {% for user in users %}
              {{ user['user_ID'] }}
              {{ playlist['playlist_ID'] }}
              {% if user['user_ID'] == playlist['playlist_ID'] %}
                <option selected value="{{ user['user_ID'] }}">{{ user['user_name'] }}</option>
              {% else %}
                <option value="{{ user['user_ID'] }}">{{ user['user_name'] }} </option>
              {% endif %}
            {% endfor %}
        </select><br>
        </div>
        <input type="submit"  class="btn btn-light"  value="Submit">
    </form>
    <br/>
  </div>
</div>

{% endblock %}