{% extends 'layouts/layouts.html' %}
{% block content %}
<html>
{% for eachfoo in foo %}
{{eachfoo}}
{% endfor %}


<div class="pagecontainer">
    <div class="formcontainer">
        <h3 class="display-1 header">Add New Users:</h3>
        <form id="adduser" action="{{ url_for('users_functionality') }}" method="POST">
            <div class="form-group">
                <label for="user_name"> Username:</label>
                <input type="text" class="form-control" name="user_name"><br>
            </div>
            <div class="form-group mt-30">
                <label for="user_email"> User email:</label>
                <input type="text" class="form-control" name="user_email"><br>
            </div>
            <input type="submit" class="btn btn-light" name="Submit" value="Add">
            <!--
            <input type="submit" name="Update" value="Update">
            -->
        </form>
        <br/>

        <h3 class="display-1 header">Search for Users:</h3>
        <form id="searchuser" action="{{ url_for('users_functionality') }}" method="POST">
            <div class="form-group">
                <label for="user_name"> Username:</label>
                <input type="text" class="form-control" name="user_name"><br>
            </div>
            <div class="form-group mt-30">
                <label for="user_email"> User email:</label>
                <input type="text" class="form-control" name="user_email"><br>
            </div>
            <input type="submit"  class="btn btn-light" name="Search" value="Search">
            <!--
            <input type="submit" name="Update" value="Update">
            -->
        </form>
        <h3 class="display-1 header">Return from search</h3>
        <form id="searchuser" action="{{ url_for('users_functionality') }}" method="POST">
            <input type="submit" class="btn btn-light mt20" name="Return" value="Return">
            <!--
            <input type="submit" name="Update" value="Update">
            -->
        </form>
        <br/>
    </div>


    <p>{{ insert_result }}</p>




    <!-- Current people -->
    <h3 class="display-1 header">Current Users</h3>
    <table class="table" style="margin-bottom: 100px;">
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Username</th>
            <th scope="col">User Email</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </thead>
        <tbody>
        {% for r in rows %}
        <tr>
            <th scope="row"> {{ r['user_ID'] }}</th>
            <td> {{ r['user_name'] }}</td>
            <td> {{ r['user_email'] }}</td>
            <td> <input type='button' name='Update' class="btn btn-light" value='Update' onclick="window.location = '/update_users/{{r['user_ID']}}'"> </td>
            <td> <input type='button' name='Delete' class="btn btn-light" value='Delete' onclick="window.location = '/delete_users/{{r['user_ID']}}'"> </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<!--
    elif "Update" in request.form:
        print('The POST request')
        id = request.form['id']
        fname = request.form['fname']
        lname = request.form['lname']
        age = request.form['age']
        homeworld = request.form['homeworld']

        updatequery = "UPDATE bsg_people SET fname = %s, lname = %s, age = %s, homeworld = %s WHERE id = %s"
        updatedata = (fname, lname, age, homeworld, id)
        
        print(str(result.rowcount) + " row(s) updated")

        # check for null/empty data
        index = 0
        for data in insertdata:
            if data == '': insertdata[index] = None
            index += 1
        try:
            result = execute_query(db_connection, updatequery, updatedata)


        except Exception as e:
            error = f"Error: {e.args[1]}" 
            return  render_template('people.html', rows=result, planets=planetresult, data=error)


                # print out a message to let the user know a cashier was added
        updateresult = f"Person Updated: {fname} {lname}"

        # query to get new data
        query = "SELECT fname, lname, homeworld, age, id from bsg_people;"
        result = execute_query(db_connection, query)

        return  render_template('people.html', rows=result, planets=planetresult, insertresult=updateresult)
-->
</html>
{% endblock %}